<!-- Image of funimation logo, calls from assets -->
<img src="assets/website_crunchygirl.png" alt="">
<div class="float-left">

    <div class=" position-absolute top-50 start-0 "><img src="assets/crunchyroll_logo.png" width="170" height="30"
            class="bottom-left"></div>

    <div class=" text-light position-absolute top-25 start-0 ">
        <p width="100" height="50" class="bottom-left">
            <strong>
                Wondering what's new this season? Head over to Crunchyroll and check out the latest releases, including
                all new BORUTO, The Devil is a Part-Timer S2, Rent-a-Girlfriend and many more!
            </strong>
            
        </p> >
    </div>

</div>