.img-2 {
  position: absolute;
  display: block;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-buffer {
  
  margin-top: 5%;
}

.left-buffer{
  padding-left: 5%;
}

.bottom-buffer {
  
  padding-bottom: 50px;
  
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.maintxt {
  background-image: url("/assets/website_crunchygirl.png");
  background-size: cover;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}


