<div id=" carouselOfAnimeWallpapers" class="carousel slide" data--bs-ride="carousel">

  <strong>
    <p class="text-light left-buffer">
      Continuing Simulcasts (find even more shows on Crunchyroll)
    </p>
  </strong>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role = "listbox">
      <div class="row row-cols-6 left-buffer" role="listbox">
        <div *ngFor="let x of reel">
          <img src={{x.img}} class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
</a>
<a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
</a>
</div>