<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner ">
    <div class="container-fluid p-0">
      <p class="text-start left-buffer text-white"> <strong>Power Up On These Shows Before The New Season
          Starts</strong> </p>
      <div class="container-fluid">
        <img class="d-inline w-255 top-buffer rounded "
          src=" 
      https://derf9v1xhwwx1.cloudfront.net/image/upload/c_fill,q_80,w_265,h_397/oth/FunimationStoreFront/1394249/Latvian/1394249_Latvian_ShowKeyart_aca88039-bad5-ea11-82a8-dd291e252010.jpg"
          alt="First slide">

        <img class="d-inline w-255 top-buffer left-buffer rounded"
          src=" 
      https://derf9v1xhwwx1.cloudfront.net/image/upload/c_fill,q_80,w_265,h_397/oth/FunimationStoreFront/2237040/English/2237040_English_ShowKeyart_072729fa-4afd-ea11-82a8-dd291e252010.jpg"
          alt="First slide">

        <img class="d-inline w-255 top-buffer left-buffer float-right"
          src=" 
      https://derf9v1xhwwx1.cloudfront.net/image/upload/c_fill,q_80,w_265,h_397/oth/FunimationStoreFront/2184183/Japanese/2184183_Japanese_ShowKeyart_94d9201b-3e75-ea11-82a8-dd291e252010.jpg"
          alt="First slide">

        <img class="d-inline w-255 top-buffer left-buffer"
          src=" 
      https://derf9v1xhwwx1.cloudfront.net/image/upload/c_fill,q_80,w_265,h_397/oth/FunimationStoreFront/2184183/Japanese/2184183_Japanese_ShowKeyart_94d9201b-3e75-ea11-82a8-dd291e252010.jpg"
          alt="First slide">
      </div>
    </div>
    <div class="container-fluid p-0">
      <p class="text-start text-spacing text-white"> <strong>Power Up On These Shows Before The New Season
          Starts</strong> </p>
      <div class="container-fluid">
        <img class="d-inline w-255 top-buffer rounded "
          src=" 
      https://derf9v1xhwwx1.cloudfront.net/image/upload/c_fill,q_80,w_265,h_397/oth/FunimationStoreFront/1394249/Latvian/1394249_Latvian_ShowKeyart_aca88039-bad5-ea11-82a8-dd291e252010.jpg"
          alt="First slide">

        <img class="d-inline w-255 top-buffer left-buffer"
          src=" 
      https://derf9v1xhwwx1.cloudfront.net/image/upload/c_fill,q_80,w_265,h_397/oth/FunimationStoreFront/2237040/English/2237040_English_ShowKeyart_072729fa-4afd-ea11-82a8-dd291e252010.jpg"
          alt="First slide">

        <img class="d-inline w-255 top-buffer left-buffer "
          src=" 
      https://derf9v1xhwwx1.cloudfront.net/image/upload/c_fill,q_80,w_265,h_397/oth/FunimationStoreFront/2184183/Japanese/2184183_Japanese_ShowKeyart_94d9201b-3e75-ea11-82a8-dd291e252010.jpg"
          alt="First slide">

        <img class="d-inline w-255 top-buffer left-buffer"
          src=" 
      https://derf9v1xhwwx1.cloudfront.net/image/upload/c_fill,q_80,w_265,h_397/oth/FunimationStoreFront/2184183/Japanese/2184183_Japanese_ShowKeyart_94d9201b-3e75-ea11-82a8-dd291e252010.jpg"
          alt="First slide">
      </div>
    </div>

  </div>

  <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

  <!-- <div class="container">
  <div class="row">
    <div class="col-xs-2">
  <img style="width: 25%; height: 25%" src="https://image.ibb.co/ckA7ka/mr_marbles.png" alt="Mister Marbles head tilt">
</div>  
<div class="col-xs-2">
  <img style="width: 25%; height: 25%" src="https://image.ibb.co/bTMKyv/kermit.png" alt="Kermit the Dog">
</div>
<div class="col-xs-2">
  <img style="width: 25%; height: 25%" src="https://image.ibb.co/ki8tQa/peach.png" alt="Peach posing magestically">  
</div> 
  </div>
</div>
 -->