<!-- Blue Text Box Image at the Top of Page -->
<div class="col-md-5 col-md-offset-1">
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <li class="nav-item">
    <a class="nav-link" href="https://www.crunchyroll.com/">NEW SEASON = NEW ANIME! GET UP TO SPEED ON THIS SEASON'S LINEUP OVER ON CRUNCHYROLL!</a>
  </li>
  </div>
  
  <!-- Image of funimation logo, calls from assets -->
<nav class="navbar navbar-expand-lg bg-light navbar-light">
  
    <a class="nav-link" href=""><img src="assets/funimation_logo.jpg" alt="" width="140" height="45">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> </a>
        
          <!-- This repeating code is for spacing on the nav bar -->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> </a>
        
          <!-- This repeating code is for spacing on the nav bar -->
        <li class="nav-item">
          <a class="nav-link-primary"  class="text-decoration-none" href="https://www.funimation.com/shows/">Stream</a>
        
          <!-- This repeating code is for spacing on the nav bar -->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> </a>
        
          <!-- This repeating code is for spacing on the nav bar -->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> </a>
        
          <!-- This repeating code is for spacing on the nav bar -->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> </a>
       
          <!-- This repeating code is for spacing on the nav bar -->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> </a>
        </li>

       <!-- This repeating code is for spacing on the nav bar -->
        <li class="nav-item">
          <a class="nav-link-primary"  class="text-decoration-none" href="https://www.funimation.com/discover/">Discover</a>
        
          <!-- This repeating code is for spacing on the nav bar -->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> </a>
        
          <!-- This repeating code is for spacing on the nav bar -->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> </a>
        
          <!-- This repeating code is for spacing on the nav bar -->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> </a>
        
        <!-- This repeating code is for spacing on the nav bar -->
          <li class="nav-item">
          <a class="nav-link-primary"  class="text-decoration-none" href="https://store.crunchyroll.com/">Shop</a>
        </li>
        </ul>
        
        <a
  href="#"
  id="navbarDropdownMenuLink"
  role="button"
  data-mdb-toggle="dropdown"
  aria-expanded="true"
>
<!-- End of navbar -->

<!-- Premium Plus -->
<div class="row"></div>
<div class="col-2 p-3 mb-2 bg-warning text-dark">TRY PREMIUM PLUS</div>

<div class="dropdown">
  <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="https://static.funimation.com/static/img/icons/icon-search.svg" alt="..." class="img-thumbnail">
  </button>
  <!-- Drop down search on mangifying glass -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="input-group mt-2 mx-2">
      <div class="form-outline">
        <input type="search" id="form1" class="form-control-dropdown" />
        <label class="form-label" for="form1">Search</label>
      </div>
      
  </div>
  
  
>
    