<app-alarm></app-alarm>

<app-fir-nav-bar></app-fir-nav-bar>

<app-body></app-body>


<div style="background-color:rgb(32, 0.0, 76)">


  <div id=" carouselOfAnimeWallpapers" class="carousel slide" data--bs-ride="carousel">

    <strong>
      <p class="text-light left-buffer">
        Continuing Simulcasts (find even more shows on Crunchyroll)
      </p>
    </strong>
    <div class="row row-cols-6 left-buffer bottom-buffer" role="listbox">
      <div *ngFor="let x of reel">
        <img src={{x.picture}} class="img-fluid bottom-buffer">
      </div>
    </div>
  </div>
</div>

